@charset "UTF-8";
/*
---
title: Responsive Design
---

While not officially supported, you're encouraged to used basic responsive design patterns
*/
/**
* Please use the colors as stated in this file and please don't override them in your app.
* Care has been taken to make sure form elements, links and typography contrast are accessible.
*/
html,
body {
  color: #2b2b2b;
  font: 400 0.66667rem "Circular Pro", -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, Arial, sans-serif; }

main a {
  color: #3344dd;
  text-decoration: none; }
  main a:hover {
    text-decoration: underline; }

strong {
  font-weight: 600; }

p {
  font-size: 1em;
  line-height: 1.5em; }

main *::-moz-selection {
  background: #fff2a8; }

main *::selection {
  background: #fff2a8; }

html,
body,
ul,
li {
  color: #2b2b2b; }

button,
.button,
.finkit-button {
  background-color: transparent;
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
  font: 0.85em/1.5 "Circular Pro", -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, Arial, sans-serif;
  letter-spacing: .5px;
  text-decoration: none;
  padding: .6125em 3em;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-appearance: none;
  background-color: #468EE5;
  color: #fff; }
  button:hover, button:focus,
  .button:hover,
  .button:focus,
  .finkit-button:hover,
  .finkit-button:focus {
    background-color: #1f76de;
    border-color: #3986e3; }
  button:focus,
  .button:focus,
  .finkit-button:focus {
    -webkit-box-shadow: 0 0 5px #51cbee;
            box-shadow: 0 0 5px #51cbee; }
  button.is-active,
  .button.is-active,
  .finkit-button.is-active {
    background-color: #277be1; }
  button.button--is-mini,
  .button.button--is-mini,
  .finkit-button.button--is-mini {
    font-size: .675rem; }
  button.button--wide,
  .button.button--wide,
  .finkit-button.button--wide {
    padding: 12px 36px; }
  button.button--primary,
  .button.button--primary,
  .finkit-button.button--primary {
    background-color: #1fb6ff;
    color: #fff; }
    button.button--primary:hover, button.button--primary:focus,
    .button.button--primary:hover,
    .button.button--primary:focus,
    .finkit-button.button--primary:hover,
    .finkit-button.button--primary:focus {
      background-color: #00a2f0;
      border-color: #10b1ff; }
    button.button--primary:focus,
    .button.button--primary:focus,
    .finkit-button.button--primary:focus {
      -webkit-box-shadow: 0 0 5px #51cbee;
              box-shadow: 0 0 5px #51cbee; }
    button.button--primary.is-active,
    .button.button--primary.is-active,
    .finkit-button.button--primary.is-active {
      background-color: #00a9fa; }
  button.button--link,
  .button.button--link,
  .finkit-button.button--link {
    background-color: transparent;
    color: #6e5eff; }
    button.button--link:hover, button.button--link:focus,
    .button.button--link:hover,
    .button.button--link:focus,
    .finkit-button.button--link:hover,
    .finkit-button.button--link:focus {
      background-color: transparent;
      border-color: transparent; }
    button.button--link:focus,
    .button.button--link:focus,
    .finkit-button.button--link:focus {
      -webkit-box-shadow: 0 0 5px #51cbee;
              box-shadow: 0 0 5px #51cbee; }
    button.button--link.is-active,
    .button.button--link.is-active,
    .finkit-button.button--link.is-active {
      background-color: transparent; }
  button.button--list-item,
  .button.button--list-item,
  .finkit-button.button--list-item {
    color: #6e5eff;
    padding: 0;
    text-align: left; }

.button-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 100%; }

body {
  background: #fff;
  font: 1rem/1.5 -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, Arial, sans-serif;
  margin: 0;
  padding: 0;
  position: relative; }

main {
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh; }

.fov-calculator {
  margin: 3rem auto;
  position: relative; }
  @media screen and (min-width: 48em) {
    .fov-calculator {
      width: 580px; } }
  .fov-calculator header {
    text-align: center; }
    .fov-calculator header h1 {
      font-weight: 100;
      font-size: 1rem;
      text-transform: uppercase; }
  .fov-calculator .background {
    position: absolute;
    top: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: -1; }

.camera-lens-pickers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3em; }
  @media screen and (min-width: 48em) {
    .camera-lens-pickers {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; } }
  .camera-lens-pickers .select-container {
    margin-bottom: 1.5em; }
    @media screen and (min-width: 48em) {
      .camera-lens-pickers .select-container {
        width: 48%; } }
    .camera-lens-pickers .select-container label {
      display: block;
      font-size: 11px;
      margin-bottom: 4px;
      text-transform: uppercase; }

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 1rem;
  padding: .5rem .75em;
  width: 100%; }

.crop-result {
  border-radius: 50%;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 50%;
  top: calc(50% + ((228px/2) + 3em));
  width: 228px;
  height: 228px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }
  .crop-result .crop-result--value {
    font-size: 6em;
    font-weight: 600;
    line-height: 1; }
  .crop-result .crop-result--label {
    background: #222222;
    border-radius: 4px;
    padding: 4px 8px;
    position: absolute;
    right: 4%;
    top: calc(50% - 1em); }

/*# sourceMappingURL=cropfactor.css.map */
