body {
  background: #f1f1f1;
  font: 1em/1.5 -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, Arial, sans-serif;
}

main {
  background: #fff;
  box-shadow: 2px 2px 24px rgba(0,0,0,.12);
  margin: 4em auto;
  padding: 1.5em;
  position: relative;
  width: 50vw;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

label {
  display: block;
}

select {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #ddd;
  border-radius: 0;
  background: transparent;
  padding: 1em;
}

.camera-lens-picker {
  display: flex;
  height: 200px;
}

.crop-result--value {
  font-size: 4em;
}

.results {
  background: #000;
  color: #fff;
  display: flex;
  bottom: 0;
  left: 0;
  width: 60vw;
}

.results dl {
  margin: 0;
  padding: 1.5em;
  width: 40%;
}

.results dl dt {
  color: #ddd;
  font-size: 11px;
  text-transform: uppercase;
}
