@mixin button($background, $color) {
  background-color: $background;
  //background-image: linear-gradient(to bottom, $background, darken($background, 13%));
  color: $color;

  &:hover,
  &:focus {
    background-color: darken($background, 9%);
    border-color: darken($background, 3%);
  }

  &:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  }

  &.is-active {
    background-color: darken($background, 7%);
  }
}


button,
.button,
.finkit-button {
  background-color: transparent;
  border: 1px solid transparent;
  color: $white;
  cursor: pointer;
  font:  .85em/#{$line-height} $sans-type;
  letter-spacing: .5px;
  text-decoration: none;
  padding: .6125em 3em;
  transition: all .2s ease;
  -webkit-appearance: none;

  @include button($finkit-color-primary, $white);

  &.button--is-mini {
    font-size: .675rem;
  }

  &.button--wide {
    padding: 12px 36px;
  }

  &.button--primary {
    @include button($finkit-color-accent, $white);


  }

  &.button--link {
    @include button(transparent, $finkit-color-link);
  }

  &.button--list-item {
    color: $finkit-color-link;
    padding: 0;
    text-align: left;
  }
}

.button-group {
  display: flex;
}
