<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Accept-CH" content="DPR, Width, Viewport-Width">
    <title>{{ site.title | escape }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/cropfactor.css">
  </head>
  <body>
    <main>
      {{ content }}
    </main>
    <script src="{{ site.baseurl }}/assets/js/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script src="{{ site.baseurl }}/assets/js/cropfactor.js" charset="utf-8"></script>
  </body>
</html>
